{% extends 'AppCoder/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

    <!-- En este lugar va lo que cambia y se asocia a la vista-->
    {% if miFormualrio.errors %}
        <p style="color: red;">Están mal los datos, revisar</p> 
    {% endif %}

    <p> Estamos buscando la camada: {{camada}}</p>

    {% if cursos %}
        <ul>
            {% for curso in cursos %}
                <li> {{curso.nombre}}</li>
                <li> {{curso.camada}}</li>
            {% endfor %}
        </ul>
    
    {% else %}
        <p>No hay datos con esa descripcion</p>
    {% endif %}
    <p style="color: red;">{{respuesta}}</p>

{% endblock %}